/*
Colour Palett:

White:         #FFFFFF
White Shadow:  #FFFCE9
Main:          #104BC2
Highlight:     #F0F5FF
Shadow:        #0A2D74
Accent:        #FFAA00
Accent Shadow: #DE980E

*/

body {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0px;
    height: 100%;
    background-color: #FFFFFF;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: rgb(82, 169, 251);
    transition: 0.05s;
}

/* selected link */
a:active {
    color: black;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    text-align: left;
    color: black;
    font-family: 'B612', sans-serif;
    font-weight: 600;
    margin-top: 30px;
}

.logo:hover {
    color: #000000; 
}

.navright {
    width: 50%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    text-align: last;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
  font-size: 20px; /* Set both to the same size */
  font-weight: 600;
  margin: 0px; 
  line-height: 40px;
}

.main {
    background-color: #0A2D74;
    height: 300px;
    padding: 45px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
}

.main a {
    height: 50px;
    width: 200px;
    background-color: #FFAA00;
    font-size: 20px;
    border-radius: 20px;
    color: #0A2D74;
    font-weight: 700;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    border-style: solid;
    border-color: #DE980E;
    border-width: 2px;
}

.mainabout {
    background-color: #0A2D74;
    height: 150px;
    padding: 45px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
}

#title {
    font-size: 20px;
    color: #F0F5FF;
}

#slogan {
    font-size: 40px;
    color: #FFFCE9;
}

#description {
    font-size: 20px;
    color: #F0F5FF;
}


#contactme {
    font-size: 40px;
}

img {
    width:200px;
    height: 150px;
    padding: 30px;
    border-radius: 15px;
}

.places {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.placestitle {
    height: 60px;
}

.placescontent {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    width: 1300px;
}

.placessections {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #a0e6fb;
    border-radius: 15px;
    height: 225px;
    width: 200px;
    padding: 20px;
}

.placessections:hover {
    background-color: #0A2D74;
    color: #FFFCE9;
    transition: 0.05s;
}

.placessections img {
    width: 200px;
    height: 150px;
    padding: 0px;
    border-radius: 20px;
}

.placessections p {
    width: 175px;
    margin: 5px;
    margin-top: 15px;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.clients {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 40px;
    height: 275px;
    padding: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #FFFCE9;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFAA00;
}

.clientstitle {
    height: 80px;
}

.clientstories {
    width: 1590px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.client1 {
    padding: 15px;
    text-align: justify;
    background-color: #FFFEFC;
    width: 25%;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFAA00;
}

.client2 {
    padding: 15px;
    text-align: justify;
    background-color: #FFFEFC;
    width: 25%;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFAA00;
}

.mystory{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#aboutimg {
    height: 100%;
    width: auto;
    padding: 0px;
}

.abouttext {
    padding: 25px;
    font-size: 1.25vw;
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.abouttext a {
    height: auto;
    width: 200px;
    background-color: #FFAA00;
    color: #0A2D74;
    font-weight: 700;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    border-style: solid;
    border-color: #DE980E;
    border-width: 2px;
    border-radius: 20px;
}

.quote {
    background-color: #a0e6fb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-left-color: #DE980E;
    border-left-width: 10px;
    border-left-style: solid;
    border-radius: 15px;
    font-size: 30px;
    text-align: left;
}

.quote:hover {
    background-color: #0A2D74;
    color: #FFFCE9;
    transition: 0.05s;
    border-left-color: #a0e6fb;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.statstile {
    height: 150px;
    width: 32%;
    background-color: #0A2D74;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#statstitle {
    color: #FFFCE9;
    margin: 0px;
    font-size: 60px;
}

#statsdesc {
    color: #a0e6fb;
    margin: 0px;
    font-size: 20px;
}

.maincontact {
    background-color: #0A2D74;
    height: 150px;
    padding: 45px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
}

.contact {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.contactbox {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 22px;
    align-items: flex-start;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.contactbox p {
    margin: 0px;
}

.contactbox input {
    width: 100%;
    height: 40px;
    border-width: 1px;
    border-radius: 15px;
    border-color: #0A2D74;
    text-decoration: none;
    padding: 0px;
    display: flex;
    text-align: start;
    justify-content: flex-start;
}

.contactboxsections {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 15px;
}

#messagebox {
    height: 150px;
}

.contactboxsections a {
    width: 200px;
    height: 40px;
    background-color: #FFAA00;
    border-radius: 15px;
    border-style: solid;
    border-color: #DE980E;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0A2D74;
    padding: 0px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
    width: 45%;
    align-items: flex-start;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

footer {
    margin: 0px;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #0A2D74;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F0F5FF;
    font-size: 10px;
}